<table>
<tr>

<th>Standard</th>
<th>School Name</th>

</tr>

<tr>

	<td><%= @standard.category %></td>
	<td><%= @standard.school.name %></td>
	<td><%= link_to "Show Section",section_path%></td>
	
	</tr>
	
	</table>


